body{
    background-image: url("https://w-dog.ru/wallpapers/12/12/524587102356363.jpg");
    padding: 20px;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    text-align: center;
    /*background: #546a8c;*/
}
.header{
    background: url("https://w-dog.ru/wallpapers/15/13/488361200975807.jpg");
    height: 150px;
}
.top{
    background: chartreuse;
    text-align: center;
    height: 75px;
    width: 60%;
    padding: 45px;
    font-size: 34px;
    margin: -75px auto;
    border-radius: 90px 90px;
}
.block1{
    margin: 75px;
    text-align: center;
    padding: 40px;
}
table{
    width: 300px;
    padding: 20px;
    border-collapse: unset;
    background: url("http://dreempics.com/img/picture/Apr/12/1e4f269b8df1885718f547398a4d0e95/8.jpg")/*burlywood*/;
    margin-left: 670px;
}
button{
    font-size: 26pt;
    width: 100%;
    height: 70px;
}
.button{
    background-color: #d7d7d7b3;
    font-size: xx-large;
    border-radius: 15px;
}
.button:hover{
    background: radial-gradient(circle, #e2e5e9, #a4a7ab);
}
.button-clear{
    background: white;
    border: 2px;
    padding: 10px 20px;
}
input{
    height: 50px;
    font-size: 40px;
    text-align: right;
    color: #711c30;
    width: 100%;
}