body{
    background-color: bisque;
    padding: 20px;
}
.button{
    background: dodgerblue;
    border: 2px;
    padding: 20px;
    font-size: 20px;
}
.button-clear{
    background: white;
    border: 2px;
    padding: 10px 20px;
}
input{
    unline : 1px;
}